@model Acotral.Models.News
@{
    ViewBag.Title = "Nuevo";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("New", "Home", FormMethod.Post, new { enctype="multipart/form-data" })) {
<div class="row">
    <div class="col-md-12">
        @Html.LabelFor(d => d.Title)
        @Html.TextBoxFor(d => d.Title, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Title, null, new { @class = "text-danger" }) <br />
        @Html.LabelFor(d => d.Images)
        <input type="file" accept=".jpeg" required name="image1" id="image1" class="form-control" style="width: 100%;" />
        @Html.ValidationMessageFor(d => d.Images, null, new { @class = "text-danger" }) <br />
        @Html.LabelFor(d => d.Body)
        @Html.TextAreaFor(d => d.Body, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Body, null, new { @class = "text-danger" })<br />

        <br />
        <div style="text-align: right;">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>
    </div>
</div>
}